body {font-family: Arial, Helvetica, sans-serif;}

h3 {
    margin-bottom:20px;
}

p {
    margin:0px;
}

/* Header Section */

.header h1 {
    text-align: center;
    background-color: rgb(233,233,233);
    margin:0px;
    padding:10px;

}

.main-sections {
    width:80vw;
    margin:20px auto;
    padding:10px;
    /*background-color:rgb(233,233,233);*/
}

.sub-sections {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    background-color: white;
    padding:20px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    box-shadow: 5px 10px rgba(218, 217, 217, 0.476);
}

/* Background styles */

#background1 {
    margin:0px;
    width:25vw;
    height: 10vw;
    background-color: aquamarine;
    border-radius: 5px;
}

#background2 {
    margin:0px;
    width:25vw;
    height: 10vw;
    background-color: rgb(255, 234, 127);
    border-radius: 5px;
}

#background3 {
    margin:0px;
    width:25vw;
    height: 10vw;
    background-color: #0a04aa ;
    border-radius: 5px;
}

.background-text {
    margin:0px;
    padding:5px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Margin styles */

.margin-sections {
    display:block;
    
}

.margins {
    display: flex;
    column-gap: 5%;
    
}

.box {
    display: block;
    width:200px;
    height:25px; 
    background-color: blueviolet;
    border: 3px solid blue;
}

.margin-sections p {
    display: inline;
    border:3px solid blue;
    margin:0px;
    padding:0px;
}

/* Link classes */

.no-underline a {
    text-decoration: none;
    color: #0a0a0a;
}

.hover-link a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.hover-link a:hover {
    text-decoration: solid;
    color:rgb(255, 0, 149);
}


.click-link a:active {
    color:green;
}

/* CSS for button */

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-top: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Utility classes */

.align-right {text-align: right;}

.align-center {text-align: center;}

.align-justify {text-align: justify;}
